{
    "tenantId": "{{ azure.tenantId }}",
    "subscriptionId": "{{ azure.subscriptionId }}",
    "aadClientId": "{{ azure.aadClientId }}",
    "aadClientSecret": "{{ azure.aadClientSecret }}",
    "resourceGroup": "{{ azure.resourceGroup }}",
    "location": "{{ azure.location }}",
    "subnetName": "{{ azure.subnetName }}",
    "securityGroupName": "{{ azure.securityGroupName }}",
    "vnetName": "{{ azure.vnetName }}",
    "vnetResourceGroup": "{{ azure.resourceGroup }}",
    "routeTableName": "{{ azure.routeTableName }}"
}
